asgiref==3.7.2
click==8.1.7
colorama==0.4.6
Django==4.2.3
django-taggit==4.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
Pillow==10.0.0
Pygments==2.16.1
pytz==2023.3
rich==13.6.0
shellingham==1.5.3
sqlparse==0.4.4
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
